@{
  ViewData["Title"] = "Home Page";
}

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="card card-default">
      <div class="card-header">
                <h3 class="card-title trn">UserCreate</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
        </div>
      </div>
      <form>
        <div class="card-body">
          <div class="form-group">
                        <label for="exampleInputUserId" class="trn">UserId</label>
            <br>
            <input type="text" class="form-control-md-6" id="exampleInputUserId" placeholder="Enter email">
          </div>
          <div class="form-group">
                        <label for="exampleInputUserName" class="trn">UserName</label>
            <br>
            <input type="text" class="form-control-md-6" id="exampleInputUserName" placeholder="UserName">
          </div>
          <div class="form-group">
                        <label for="exampleInputEmail" class="trn">Email address</label>
            <br>
            <input type="email" class="form-control-md-6" id="exampleInputEmail" placeholder="Enter email">
          </div>
          <div class="form-group">
                        <label for="exampleInputPassword1" class="trn">Password</label>
            <br>
            <input type="password" class="form-control-md-6" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
                        <label for="exampleInputRetypePassword" class="trn">RetypePassword</label>
            <br>
            <input type="password" class="form-control-md-6" id="exampleInputRetypePassword"
              placeholder="Re-Type Password">
          </div>
          <div class="card-footer">
                        <button type="submit" class="btn btn-primary trn">Submit</button>
          </div>
        </div>
      </form>
    </div>


    <div class="card card-default">
      <div class="card-header">
                <h3 class="card-title trn">GroupCreate</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
        </div>
      </div>

      <form>
        <div class="card-body">
          <div class="form-group">
                        <label for="exampleInputGroupName" class="trn">GroupName</label>
            <br>
            <input type="text" class="form-control-md-6" id="exampleInputGroupName" placeholder="Enter GroupName">
          </div>
          <div class="form-group">
                        <label for="exampleInputEnterPerson" class="trn">EnterPerson</label>
            <br>
            <input type="text" class="form-control-md-6" id="exampleInputEnterPerson" placeholder="EnterPerson">
          </div>
          <div class="form-group">
                        <label for="exampleInputEntryDate" class="trn">EntryDate</label>
            <br>
            <input type="text" class="form-control-md-6" id="exampleInputEntryDate" placeholder="EntryDate">
          </div>
          <div class="card-footer">
                        <button type="submit" class="btn btn-primary trn">CreateGroup</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>