    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-12">
          
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title trn">Profile Update</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form name="frm" action='@Url.Action("PasswordReset","User")'>
                  <div class="card-body">
                  
                <div class="form-group">
                            <label class="trn">Email Id</label>
                  <input type="email" class="form-control" placeholder="Email Address" name="UserEmail" value="">
                </div>
               </div>
                  <!-- /.card-body -->
  
                  <div class="card-footer">
                        <button type="submit" class="btn btn-primary trn">Submit</button>
                  </div>
                </form>
              </div>
              <!-- /.card -->
           </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  