@{
   Layout =  null;
}
<div>
        <div id="ViewPdfFiles">
            <div>
                <input type="hidden" id="hdnPdfFilePath" name="hdnPdfFilePath" value="@Model.FileName" />
                <div>
                    <h2> View pdf files</h2>
                </div>
             </div>
        </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var filePath = $('#hdnPdfFilePath').val();
        window.open(filePath, "_blank");       
    });
</script>